
/* Container, parahraps -------------------------------- */

.wrapper {

	margin: 0 auto;
	padding-top: 20px;
}

p {
	width: 90%;
	margin: 1em auto;
	font: 1.2em 'Actor', serif;
}


/* Styles for subtitles --------------------------- */

.redColorText{
	color: #e60000 !important;
}
.black{
	color: inherit;
}
.text:hover{
	color: #59b300;
	cursor: pointer;
}

/* Customization of video player  --------------------------- */

.mejs__controls{
	background: #33ccff !important;
}

/* Media querities for descktop --------------------------- */

@media (min-width: 768px) {
	.wrapper {
		width: 80%;
	}
	p {
		width: 100%;
  }
}
